.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;  
    
}
@media (min-width:549px) {
    .loginContainer{
        margin-top: 3rem;
    } 
}


@media (min-width:1000px) {
    .loginContainer{
        margin-top: 5rem;
    } 
}

@media (min-width:1550px) {
    .loginContainer{
        margin-top: 5rem;
    } 
}
