.LandlordForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.LandlordForm form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8rem; 
}
.Field {
  width: 100%;
}
.Button {
  width: 100%;
  margin: 0.5rem  auto !important;
  background-color: var(--primarycolor) !important;
  padding: 1rem !important;
  font-weight: 700 !important;
   
}
.LandlordForm p{
  color: var(--paragraphcolor);
  font-family: var(--secoundryfont);
  text-transform: capitalize;
}



.Button:hover{
  cursor: pointer;
  background-color: var(--secoundrycolor) !important;
}


@media (min-width: 550px) {
  .LandlordForm {
    width: 70%;
    margin:  auto;
    
  }
  
  .Button {
    width: 30%;
  }
}
@media (min-width: 900px) {
  .LandlordForm {
    width: 65%;
    margin:  auto;
    
  }
  .LandlordForm form {
    
    margin: auto;
    border-radius: 1rem;
    
  }
 
}
@media (min-width: 1100px) {
    
  .LandlordForm {
    width: 32%;
    
  }
  
  
  
}