.Image{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primaryfont);
    color: white;
}
.Image h4{
  font-size: 1.5em;
  font-weight: 700;
}
.Image img{
    width: 70px;
}

@media (min-width: 768px) {
  .Image img{
    width: 80px;
  }
}
