.ChangePasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  gap: 1rem;
  width: 100%;
  margin-top: 5rem;

  padding: 1rem;
  border-radius: 2rem;
  font-family: var(--secoundryfont);
}
.ChangePasswordContainer form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.8rem; 
}
.Field {
  width: 100%;
}
.resendOtp{
    width: 100%;
    /* background-color: red; */
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resendOtp .resendbtn{
    cursor: pointer;

}
.resendOtp .resendbtn:hover{
    color: rgba(0, 0, 255, 0.764);
}
.Button {
  width: 100%;
  margin: 0.5rem  auto !important;
  background-color: var(--primarycolor) !important;
  padding: 0.5rem !important;
  font-weight: 700 !important;
   
}
.ChangePasswordContainer p{
  color: var(--paragraphcolor);
  font-family: var(--secoundryfont);
  text-transform: capitalize;
  text-align: center;
}



.Button:hover{
  cursor: pointer;
  background-color: var(--secoundrycolor) !important;
}


@media (min-width: 550px) {
  .ChangePasswordContainer {
    width: 70%;
    margin:  auto;
    margin-top: 5rem;
    
  }
  
  .Button {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .ChangePasswordContainer {
    width: 65%;
    margin:  auto;
    margin-top: 10rem;
    
  }
  .ChangePasswordContainer form {
    
    margin: auto;
    border-radius: 1rem;
    
  }
    .Button {
    width: 30%;
  }
 
}
@media (min-width: 1100px) {
    
  .ChangePasswordContainer {
    width: 32%;
    
  }
  
  
  
}